# Python/Virtual Environment
venv/
__pycache__/
*.pyc

# Database
db.sqlite3
*.sqlite3

# Django/Migrations
# Keep the __init__.py files, but ignore compiled migration files
*/migrations/*.pyc
*/migrations/__pycache__/
# Note: Do not ignore *.py inside migrations unless you know what you are doing.

# IDE settings
.vscode/
.idea/
*key
