<! DOCTYPE html>

{% load static %}

<html>
  <head>
    <title>Rango</title>
  </head>

  <body>
    <h1>Rango says ...</h1>
    <div>
      hey there partner!<br />
      <em>{{boldmessage}}</em><br />
    </div>

    <h2>Most Liked Categories</h2>
    {% if categories %}
    <ul>
      {% for category in categories %}
        <li><a href = "/rango/category/{{category.slug}}">{{category.name}}</a></li>
      {% endfor %}
    </ul>
    {%else%}
      <strong>There are no categories present</strong>
    {%endif%}


    <h2>Most Viewed pages</h2>
    {% if top_pages %}
      <ul>
        {%for page in top_pages %}
        <li>
          <a href = "{{page.url}}"> {{page.title}} </a>
        </li>
    {%endfor%}
    {%else%}
    <h2>No pages available :( </h2>
    {%endif%}
      </ul>
        



    <div><a href="/rango/about"> About </a><br />
        <img src = "{% static "images/rango_mascot.jpg" %}"
        alt = "Rango: a green lizad"/>
        <a href = {% url 'add_category'%}> Add a new Category</a>
    </div>
  </body>
</html>
