
{% extends "rango/base.html" %}
{% load static %}

<title>
  Rango -
  {% block title %}Home Page{% endblock title %}
</title>

{% block  body %}
    <h1>Rango says ...</h1>
    <div>
      hey there

      {%if user.is_authenticated %}
        {{user.username}}
      {%else%}
        hey there partner
      {% endif %}
      <br />
      <em>{{boldmessage}}</em><br />
    </div>

    <h2>Most Liked Categories</h2>
    {% if categories %}
    <ul>
      {% for category in categories %}
        <li><a href = "{% url 'show_category' category.slug %}">{{category.name}}</a></li>
      {% endfor %}
    </ul>
    {%else%}
      <strong>There are no categories present</strong>
    {%endif%}


    <h2>Most Viewed pages</h2>
    {% if top_pages %}
      <ul>
        {%for page in top_pages %}
        <li>
          <a href = "{{page.url}}"> {{page.title}} </a>
        </li>
    {%endfor%}
    {%else%}
    <h2>No pages available :( </h2>
    {%endif%}
      </ul>

    <div>
        <img src = "{% static "images/rango_mascot.jpg" %}"
        alt = "Rango: a green lizad"/>
    </div>
{% endblock body%}
